   

.App {
    /* text-align: center; */
    background:url("https://cdn.wallpapersafari.com/0/80/KIiEkW.jpg") no-repeat;
    background-attachment: fixed;
}
.homebtn:hover{
    background-color: #472903 !important;
}

